aclocal.m4
am
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.sub
config.status
configure
dependencies.m4
depcomp
dune-localfunctions.pc
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1

*.swp
*.tmp

.deps
.libs
