Makefile
Makefile.in

lagrangeshapefunctiontest
monomshapefunctiontest
virtualshapefunctiontest
refinedp1test

testfem
testgenericfem
test-edges0.5
test-edges03dinterpolate
test-localfe
test-monom
test-pk2d
test-power-monom
test-q1
test-q2
test-q22d

*.swp

.deps
