Makefile
Makefile.in

*.log
*.trs

lagrangeshapefunctiontest
monomialshapefunctiontest
virtualshapefunctiontest
testfem
testgenericfem
test-edges0.5
test-edges03dinterpolate
test-localfe
test-monomial
test-pk2d
test-power-monomial
test-q1
test-q2
test-q22d
test-raviartthomas1simplex
test-raviartthomas2simplex
test-raviartthomas3simplex
test-raviartthomassimplex-all
*.swp
.deps
test-lagrange1
test-lagrange2
test-lagrange3
test-lagrange-all
test-orthonormal1
test-orthonormal2
test-orthonormal3
test-orthonormal-all

